.Weather {
  border: 1px solid #dadde1;
  margin: 30px;
  padding: 16px;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #878787;
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  list-style: none;
}

weather img {
  float: left;
  height: 64px;
  margin-right: 10px;
  width: 64px;
}

.Weather .temperature {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  top: -32px;
}
